/*цвет основного текста #757575*/
/*цвет заголовка #212121*/
/*акцент #2196F3*/
/*цвет контактов футера rgba(255, 255, 255, 0.6);*/

/*бекграунд шапка #FFFFFF*/
/*бекграунд чем мы занимаемся #E5E5E5*/
/*бекграунд наша команда иконки #FFFFFF общий беграунд #F5F4FA*/
/*бекграунд футера #2F303A*/

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-bgc-color: #ffff;
  --title-text-color: #212121;
  --logo-accent-color: #000;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--accent-bgc-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*background*/
.secondary-section {
  background: #e5e5e5;
}
.dark-section {
  background: #2f303a;
}
.section-team {
  background: #f5f4fa;
}

/*logo*/
.logo {
  color: var(--logo-accent-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo span,
.steplogo span {
  color: var(--accent-color);
}
.steplogo {
  color: var(--accent-bgc-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.list {
  list-style: none;
}
/*site nav*/
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*con-nav*/
.con-nav .text-link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.con-nav .text-link:hover,
.con-nav .text-link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero-title {
  color: var(--accent-bgc-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*button*/
.button {
  color: var(--accent-bgc-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.accent-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.accent-text:hover,
.accent-text:focus {
  color: var(--accent-bgc-color);
  background-color: var(--accent-color);

  cursor: pointer;
}
/*benefits*/
.benefits-title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*section info*/
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-text {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*footer*/
.footer-con .footer-link {
  color: var(--address-secondary-color);
  text-decoration: none;
}
.footer-con .footer-link:hover,
.footer-con .footer-link:focus {
  color: var(--accent-color);
}
.footer-address {
  color: var(--accent-bgc-color);
}
.footer-address,
.footer-con {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*work example*/
.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
